In [1]:
import pandas as pd
import numpy as np
train = pd.read_csv('train.csv')
test = pd.read_csv('test_x.csv')
test = test.drop(test.columns[[0]],axis = 1)
train = train.drop(train.columns[[0]],axis = 1)

Y_train = train['rating_org']
train = train.drop(columns = ['rating_org'],axis = 1)

In [2]:
#заполнить средним значением average_bill
av_train = train.loc[train['user_city']=='msk','average_bill']
av_train = av_train.fillna(av_train.mean())
train.loc[train['user_city']=='msk','average_bill'] = av_train

av_train = train.loc[train['user_city']=='spb','average_bill']
av_train = av_train.fillna(av_train.mean())
train.loc[train['user_city']=='spb','average_bill'] = av_train
del av_train

av_test = test.loc[test['user_city']=='msk','average_bill']
av_test = av_test.fillna(av_test.mean())
test.loc[test['user_city']=='msk','average_bill'] = av_test

av_test = test.loc[test['user_city']=='spb','average_bill']
av_test = av_test.fillna(av_test.mean())
test.loc[test['user_city']=='spb','average_bill'] = av_test
del av_test
test

,org_id,rating,ts,user_city,org_city,average_bill,rubrics,food_delivery,breakfast,takeaway,...,call_button,wheelchair_accessible,table_games,vinotheque,cakes_for_different_occasions,accepted_credit_cards,kalyan,teahouse,bread_from_tandoor,handmade_goods
0,17145242605301041786,5.0,754,spb,spb,1000.000000,Ресторан,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,6994879043376924376,5.0,99,spb,spb,1500.000000,Ресторан,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,5596242631024337097,5.0,1174,spb,spb,500.000000,Кафе,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,16272893617101942587,5.0,1176,msk,msk,500.000000,Кафе,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,3193067678075550767,4.0,1030,msk,msk,1187.494257,Кафе,1,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24660,17532855088852596891,5.0,486,msk,msk,1187.494257,Ресторан,1,0,1,...,0,0,0,0,0,0,0,0,0,0
24661,7034326954454250932,5.0,773,msk,msk,1187.494257,Кафе,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24662,14594426439384070672,1.0,793,msk,msk,1000.000000,"Бар, паб",1,1,1,...,0,0,1,0,0,0,0,0,0,0
24663,10562954877317343611,5.0,722,msk,msk,1000.000000,"Бар, паб",1,0,1,...,0,0,0,0,0,0,0,0,0,0
24664,5050962371507415522,5.0,724,msk,msk,500.000000,Ресторан,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [3]:
#Удаление столбцов
train = train.drop(columns = ['org_id'],axis = 1)
train = train.drop(columns = ['user_city'],axis = 1)
train = train.drop(columns = ['org_city'],axis = 1)

test = test.drop(columns = ['org_id'],axis = 1)
test = test.drop(columns = ['user_city'],axis = 1)
test = test.drop(columns = ['org_city'],axis = 1)

In [4]:
#Работа с числовыми столбцами для train
train_numeric = train[['rating','ts','average_bill']]
train_numeric_cols = train_numeric.columns

from sklearn.preprocessing import StandardScaler
from scipy import stats
ss = StandardScaler()
train_numeric = pd.DataFrame(ss.fit_transform(train_numeric))
train_numeric.columns = train_numeric_cols


#Работа с числовыми столбцами для test
test_numeric = test[['rating','ts','average_bill']]
test_numeric_cols = test_numeric.columns
test_numeric = pd.DataFrame(ss.fit_transform(test_numeric))
test_numeric.columns = test_numeric_cols
test_numeric

         rating        ts  average_bill
0      0.600913  0.127858     -0.037748
1      0.600913 -2.109352      0.138903
2      0.600913  1.562404     -0.214399
3      0.600913  1.569236     -0.214399
4     -0.284853  1.070560      0.028494
...         ...       ...           ...
24660  0.600913 -0.787520      0.028494
24661  0.600913  0.192754      0.028494
24662 -2.942150  0.261066     -0.037748
24663  0.600913  0.018559     -0.037748
24664  0.600913  0.025390     -0.214399

[24665 rows x 3 columns]

In [5]:
#Работа с bool и категориями для train
train_cat = train.drop(['rating','ts','average_bill'], axis = 1)
train_cat = train_cat.merge(pd.get_dummies(train_cat.rubrics, drop_first=True), left_index=True, right_index=True)
train_cat.drop('rubrics', axis = 1, inplace=True)

#Работа с bool и категориями для test
test_cat = test.drop(['rating','ts','average_bill'], axis = 1)
test_cat = test_cat.merge(pd.get_dummies(test_cat.rubrics, drop_first=True), left_index=True, right_index=True)
test_cat.drop('rubrics', axis = 1, inplace=True)
test_cat

,food_delivery,breakfast,takeaway,summer_terrace,wi_fi,business_lunch,payment_by_credit_card,coffee_to_go,closed_for_quarantine,online_takeaway,...,Кальян-бар,Кафе,Кондитерская,Кофе с собой,Кофейня,Пиццерия,Ресторан,Спортбар,Столовая,Суши-бар
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,0,0
1,1,1,1,1,1,1,1,1,0,1,...,0,0,0,0,0,0,1,0,0,0
2,1,0,1,0,0,0,0,0,1,1,...,0,1,0,0,0,0,0,0,0,0
3,1,1,1,0,0,1,1,1,1,1,...,0,1,0,0,0,0,0,0,0,0
4,1,1,1,0,1,1,1,1,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24660,1,0,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
24661,0,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
24662,1,1,1,1,1,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
24663,1,0,1,1,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
24664,1,1,1,1,1,1,1,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [6]:
#Слить таблицы
train = pd.merge(train_numeric, train_cat, left_index = True, right_index = True)
test = pd.merge( test_numeric, test_cat, left_index = True, right_index = True)
test

,rating,ts,average_bill,food_delivery,breakfast,takeaway,summer_terrace,wi_fi,business_lunch,payment_by_credit_card,...,Кальян-бар,Кафе,Кондитерская,Кофе с собой,Кофейня,Пиццерия,Ресторан,Спортбар,Столовая,Суши-бар
0,0.600913,0.127858,-0.037748,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,0,0
1,0.600913,-2.109352,0.138903,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,0,0
2,0.600913,1.562404,-0.214399,1,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0.600913,1.569236,-0.214399,1,1,1,0,0,1,1,...,0,1,0,0,0,0,0,0,0,0
4,-0.284853,1.070560,0.028494,1,1,1,0,1,1,1,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24660,0.600913,-0.787520,0.028494,1,0,1,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
24661,0.600913,0.192754,0.028494,0,0,0,0,1,0,1,...,0,1,0,0,0,0,0,0,0,0
24662,-2.942150,0.261066,-0.037748,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
24663,0.600913,0.018559,-0.037748,1,0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
24664,0.600913,0.025390,-0.214399,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,0,0

In [8]:
from sklearn.feature_selection import SelectKBest, f_regression
X_reg=train
y_reg=Y_train

kb = SelectKBest(score_func=f_regression, k=50)
kb.fit(X_reg, y_reg)
features_list = X_reg.columns
chosen_list = features_list[kb.get_support()]
print(features_list[kb.get_support()])

Index(['rating', 'ts', 'average_bill', 'food_delivery', 'takeaway', 'wi_fi',
       'payment_by_credit_card', 'coffee_to_go', 'karaoke',
       'sports_broadcasts', 'food_court1', 'craft_beer', 'projector',
       'gift_certificate', 'wheelchair_access', 'automatic_door',
       'food_product_delivery', 'car_park', 'parking_disabled',
       'toilet_for_disabled', 'promotions', 'cafe', 'minimum_order',
       'free_delivery', 'self_service_kiosks', 'air_conditioning', 'elevator',
       'internet access', 'privilege_tickets', 'organic_food', 'vip_zone',
       'face_control', 'show_program', 'music', 'chillout', 'dancefloor',
       'dress_code', 'strip', 'elevator_wheelchair_accessible',
       'farm_products', 'delivery', 'table_games', 'Бар, паб',
       'Быстрое питание', 'Кальян-бар', 'Кофейня', 'Пиццерия', 'Ресторан',
       'Столовая', 'Суши-бар'],
      dtype='object')

In [9]:
#Превращаем в массивы
y_train = Y_train.values
train = train[chosen_list]
x_train = train.values
test = test[chosen_list]
x_test = test.values


# Делим на тренировочную и тестовую
from sklearn.model_selection import train_test_split
x_t1,x_t2,y_t1,y_t2 = train_test_split(x_train, y_train, test_size=0.7, random_state=0)

In [10]:
from sklearn.linear_model import LinearRegression
ml = LinearRegression()
ml.fit(x_t1, y_t1)
y_pred=ml.predict(x_t2)
y_pred_test=ml.predict(x_test)
print(y_pred)
print(y_pred_test)

[4.28113297 3.8359813  4.3277849  ... 3.93053387 4.02564746 3.99752071]
[4.37340044 4.37649629 4.21991012 ... 4.21647935 4.40466102 4.4393531 ]

In [11]:
#оценка погрешности
import numpy as np
def mean_absolute_percentage_error(y_true, y_pred):
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100
print(mean_absolute_percentage_error(y_t2,y_pred))
from sklearn.metrics import r2_score
print(r2_score(y_t2,y_pred))

4.654053868973311
0.2274435446171632

In [12]:
test['rating_org'] = y_pred_test
test

<ipython-input-12-158687d24a87>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['rating_org'] = y_pred_test

,rating,ts,average_bill,food_delivery,takeaway,wi_fi,payment_by_credit_card,coffee_to_go,karaoke,sports_broadcasts,...,table_games,"Бар, паб",Быстрое питание,Кальян-бар,Кофейня,Пиццерия,Ресторан,Столовая,Суши-бар,rating_org
0,0.600913,0.127858,-0.037748,1,1,1,1,1,1,0,...,0,0,0,0,0,0,1,0,0,4.373400
1,0.600913,-2.109352,0.138903,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,0,4.376496
2,0.600913,1.562404,-0.214399,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4.219910
3,0.600913,1.569236,-0.214399,1,1,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,4.228642
4,-0.284853,1.070560,0.028494,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,4.441717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24660,0.600913,-0.787520,0.028494,1,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,4.225227
24661,0.600913,0.192754,0.028494,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,4.476458
24662,-2.942150,0.261066,-0.037748,1,1,1,1,0,1,1,...,1,1,0,0,0,0,0,0,0,4.216479
24663,0.600913,0.018559,-0.037748,1,1,1,1,1,1,0,...,0,1,0,0,0,0,0,0,0,4.404661
24664,0.600913,0.025390,-0.214399,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,0,0,4.439353

In [13]:
answer = test[['rating_org']]
answer.to_csv('linear_regression.csv')